* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Inter, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

nav {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links li {
    list-style: none;
    display: inline;
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
}

input,
select,
button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    border: 1px solid #ccc;
}

button {
    background-color: #333;
    color: #fff;
    cursor: pointer;
    border: 0;
    text-decoration: none;
    transition: background-color 0.3s;
    display: inline-block;
    padding: 10px 20px;
}

button:hover {
    background-color: #444;
}

#search {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    margin-top: 20px;
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

form label {
    margin: 10px 0 5px 0;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}