@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');

body {
    font-family: Inter, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../res/becoming-doctor.jpg');
    background-size: cover;
    backdrop-filter: blur(5px);
    background-color: #f0f0f0;
    min-height: 100vh;
}



#login {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#homepage {
    position: absolute;
    width: 100%;
    height: 100%;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

nav {
    padding: 0 30px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo .text {
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    .logo .text{
        display: none;
    }
}

.logo h2 {
    font-size: 24px;
    font-weight: 800;
    margin: 0;
}

.logo p {
    font-size: 14px;
    margin: 0;
}

.logo img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin-right: 10px;
}

a .logo {
    text-decoration: none;
    color: #fff;
}

a {
    text-decoration: none;
    color: dodgerblue;
}

.nav-links li {
    list-style: none;
    display: inline;
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#login h1 {
    color: #FFF;
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px #000000;
}

main h1 {
    color: #FFF;
    font-size: 36px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px #000000;
}

input,
select,
button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}


button {
    background-color: #333;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
    display: inline-block;
    padding: 10px 20px;
}

button:hover {
    background-color: #444;
}

#result {
    visibility: hidden;
}


.form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 80vw;
    margin-bottom: 50px;
}


#login .form {
    max-width: 500px;
}

/* Center the Today button and custom buttons below the header */
.fc-header-toolbar .fc-center-button {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Adjust the spacing between the Today button and custom buttons */
.fc-header-toolbar .fc-center-button .fc-button {
    margin-right: 10px; /* Adjust the margin as needed */
}

/* Center the custom buttons below the header */
.fc-custom-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

#login form {
    margin: 0;
}

label {
    padding: 10px;
}

.calendar {
    border-radius: 10px; /* Adjust the radius value as desired */
    height: 364px; /* Set the desired height in pixels */
    width: 80%; /* Set the desired width as needed */
    margin: 0 auto; /* Center the calendar horizontally */
}


.doctor-card{
    float: left; /* Float left to place it on the left side */
    width: 50%; /* Adjust the width as needed */
}

.doctor-calendar{
    float: right; /* Float left to place it on the right side */
    width: 50%; /* Adjust the width as needed */
}

.doctor-container {
    background-color: rgba(236, 236, 236, 0.8);
    border-radius: 10px;
    display: flex; /* Use flexbox to control layout */
    justify-content: space-between; /* Separate doctorCard and doctorCalendar */
    margin-bottom: 20px; /* Add margin for spacing between doctors */
    border: 1px solid #ccc; /* Add a border for visual separation */
    padding: 10px; /* Add padding for spacing within the container */
}

/* Style for the book appointment button */
.book-appointment {
    margin-top: 30px; /* Add margin at the top of the button */
}

.account {
    display: flex;
    flex-direction: row;
    gap: 5px;
}


/* footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
} */